[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.27.0,<2.30.0"
pydantic = ">=1.9.0,<2.0"

[dev-packages]
pytest = "*"
vcrpy = "*"
build = "*"
twine = "*"
bump2version = "*"

